@import "bootstrap";
@import "bootstrap-sprockets";

$defblue: #428bca;

.panel_header h3 {
	margin-top: 3px;
	margin-bottom: 3px;
}
  
.min_header {
  margin-top: 60px;
}

abbr {
	color:red;
}

.timeline {
	margin-left: auto;
	margin-right: auto;
}

.well {
  min-height: 30px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid #E3E3E3;
  border-radius: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.carryer {
  padding-left: 5px;
  padding-right: 5px;
}

/* Nav Bar */

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default {
  /*background-color: $defblue;*/
  background-color: black;
  border-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a:hover,  .navbar-default .navbar-nav > li > a:focus {
  background-color: #ac2925;
  color: white;
}



#circle {
  width: 7px;
  height: 7px;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-top: 22px;
}

.fade.in {
  opacity: 0.8;
}

.close {
  color: black;
}

#notice_wrapper {
  top: 0px;
  width: 100%;
  position: absolute;
  z-index: 10;
  .alerty {
    background-color: #F94B4B;
    opacity: 0.8;
    p {
      color: white;
      margin-bottom: 0px;
      font-size: 1.25 em;
      font-weight: 700;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  .notice {
    background-color: green;
    opacity: 0.8;
    p {
      color: white;
      margin-bottom: 0px;
      font-size: 1.25 em;
      font-weight: 700;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  .info {
    background-color: $defblue;
    opacity: 0.8;
    p {
      color: white;
      margin-bottom: 0px;
      font-size: 1.25 em;
      font-weight: 700;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}

.btn {
  -moz-user-select: none;
  background-image: none;
  /*border: 1px solid transparent;*/
  border-radius: 0;
  cursor: pointer;
  /*display: inline-block;*/
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.vertical {
  height: 50px;
  //border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.glyphicon.glyphicon-bell {
  font-size: 1em;
  color: white;
  z-index: 1;
}

.badge {
  z-index: 2;
  background-color: $defblue;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
