Dear TCSers, <br /><br />
I am happy to share with you that TCS teams have been chosen as Global Winners at the recently concluded Challenges Worth Solving 2016, Season #1. Heartiest congratulations. <br /><br />
Out of the 215 ideas submitted from TCS, it is indeed a matter of pride to announce that all the 6 global winners are from TCS. I would like to thank all of you who participated in the Challenges Worth Solving 2016 season #1.<br /><br />

<table>
<tbody>	<tr>	
<td width="30%">
Funneling on-line website visitors into Off-line Stores as Walk-ins (Titan)
</td>
<td width="70%">
Vijay Chauhan (TCS-GE) <a href="https://www.tatainnoverse.com/ideas/41880" rel="nofollow">https://www.tatainnoverse.com/ideas/41880</a><br />
Karthik S (TCS-DESS) - <a href="https://www.tatainnoverse.com/ideas/41848" rel="nofollow"> https://www.tatainnoverse.com/ideas/41848</a><br />
Arun Dsouza (TCS-Retail) - <a href="https://www.tatainnoverse.com/ideas/41786" rel="nofollow"> https://www.tatainnoverse.com/ideas/41786</a><br />
Anamika Mondal (TCS-Internal IT) - <a href="https://www.tatainnoverse.com/ideas/41879" rel="nofollow"> https://www.tatainnoverse.com/ideas/41879</a><br />
</td>
</tr>
<tr>
<td>
Making Solar PV systems work in both situations: In-grid and Off-grid (Tata Power Delhi Distribution Limited)
</td>
<td>
Ummaiah Bondhala (EIS) - <a href="https://www.tatainnoverse.com/ideas/41830" rel="nofollow">https://www.tatainnoverse.com/ideas/41830</a><br />
</td>
</tr>
<tr>
<td>
How to ensure the loyalty of progressive farmers on Digital Platform (Rallis)
</td>
<td>
Chanchal Pramanik (CTO) - <a href="https://www.tatainnoverse.com/ideas/41946" rel="nofollow"> https://www.tatainnoverse.com/ideas/41946</a><br />
</td>
</tr>
</tbody>
</table>
Out of, <strong>1004</strong> ideas posted in from across Tata Group companies, 139 ideas were short listed as “Promising” and the jury chose <strong>6 Global Winners </strong>(all from TCS). <br /><br />
Thanks &amp; regards<br />
K. Ananth Krishnan<br />
Vice President &amp; Chief Technology Officer